body{background-color: pink;}

h1{color: hotpink;}
h1{font-family: sans-serif;}

h2{color: deeppink;}
h2{font-family: sans-serif;}

h3{color: hotpink;}
h3{font-family: sans-serif;}

p{color: white;}
p{font-family: sans-serif;}

